    <!-- ABOUT US -->
<section id="about" class="container-fluid px-0 ">
   <div id="jumbo-color" class="row align-items-center content jumbotron jumbotron-fluid ">
       <div class="col-md-6 order-2 order-md-1">
         <!--Carousel Wrapper-->
      <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

         <!--Slides-->
         <div class="carousel-inner" role="listbox">

         <!--First slide-->
         <div class="carousel-item active">

            <div class="col-md-3 mb-3">
            <div class="card">
               <img class="img-fluid" src="images/example-1.jpeg"
                  alt="Card image cap">
            </div>
            </div>

            <div class="col-md-3 mb-3">
            <div class="card">
               <img class="img-fluid" src="images/example-2.jpeg"
                  alt="Card image cap">
            </div>
            </div>

            <div class="col-md-3 mb-3">
            <div class="card">
               <img class="img-fluid" src="images/example-3.jpeg"
                  alt="Card image cap">
            </div>
            </div>

            <div class="col-md-3 mb-3">
            <div class="card">
               <img class="img-fluid" src="images/example-4.jpeg"
                  alt="Card image cap">
            </div>
            </div>

         </div>
         <!--/.First slide-->

         <!--Second slide-->
         <div class="carousel-item">

            <div class="col-md-3 mb-3">
            <div class="card">
               <img class="img-fluid" src="images/example-5.jpeg"
                  alt="Card image cap">
            </div>
            </div>

            <div class="col-md-3 mb-3">
            <div class="card">
               <img class="img-fluid" src="images/example-6.jpeg"
                  alt="Card image cap">
            </div>
            </div>

            <div class="col-md-3 mb-3">
            <div class="card">
               <img class="img-fluid" src="images/example-7.jpeg"
                  alt="Card image cap">
            </div>
            </div>

            <div class="col-md-3 mb-3">
            <div class="card">
               <img class="img-fluid" src="images/example-8.jpeg"
                  alt="Card image cap">
            </div>
            </div>

         </div>
         <!--/.Second slide-->
         </div>
         <!--/.Slides-->

         </div>
         <!--/.Carousel Wrapper-->

      </div>
       <div class="col-md-6 text-center order-1 order-md-2">
           <div class="row justify-content-center">
               <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                   <h2 class="text-white">ABOUT US</h2>
                   <img src="" alt="" class="d-none d-lg-inline">
                   <p class="lead text-white"> We are family run business based In Epsom just 2 minutes away from Eltham High Street Station. Here we 
                     offer from a range of services which you can find below.
                     </p>
               </div>
           </div>
       </div>
   </div>