<!-- about section -->
<section class="bg-about" id="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 mx-auto text-center">
         <h2 class="section-heading text-black">We are based in Epsom.</h2>
         
         
         <hr class="light my-4">
        <p> Crystal Nails is a family run salon which offers a varierty of services.
            
         You can find us in Epsom high street, opposite Marks & Spencer. We are at the XXXX end of the high street.  </P>
         

         </div>
      </div>
   </div>
</section>




   