<section id="contact">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Make a Booking</h2>
          <hr class="my-4"> 
          <p class="mb-5">If you'd like to make an appointment send us a message. Please make sure you book 24hrs in advance with the right Time & Date & treatment to insure we have alocated enough time for you. Please make sure you read the Covid Policy before coming in. The Latest booking is 5:30PM.
          </p>
          </div>
       </div>
    
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
    
                <div id="contact-form">
    
                    <div class="md-form">
                        <input type="text" id="name-field" name="name" placeholder="Your name" class="form-control">
                        <label for="name"> </label>
                    </div>
    
                    <div class="md-form">
                        <input type="tel" id="phone-field" name="phone" placeholder="Your telephone number"class="form-control">
                        <label for="phone">  </label>
                    </div>
    
                    <div class="md-form">
                        <input type="email" id="email-field" name="email" placeholder="Your email" class="form-control">
                        <label for="email"></label>
                    </div>
    
                    <div class="md-form">
                        <textarea id="message-field" class="md-textarea" placeholder="Your message" name="message" style="height: 100px"></textarea>
                        <label for="message"></label>
                    </div>
    
                    <div class="text-center">
                        <p id="form-message"></p>
                        <button id="submit-button" class="btn btn-unique" >Send &rarr;</button>
                        <p id="success-message"></p>


                    </div>
                </div>
    
            </div>
    
        </div>
       
    
    
    
    </div>
    </section>

    
   
    
    
   