
 <!-- COVID-19 -->
 <div class="row align-items-center content ">
   <div class="col-md-6 order-2 order-md-1">
     

       <img id="pink-nails" src="images/nail-3.jpg" alt="" class="img-fluid img-thumbnail float-left">
   </div>
   <div class="col-md-6 text-center order-1 order-md-2">
       <div class="row justify-content-center">
           <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
               <h2>COVID-19</h2>
               <img src="" alt="" class="d-none d-lg-inline">
               <p>
                 <a id="btn" class="btn btn-primary" data-toggle="collapse" href="#covid" role="button" aria-expanded="false" aria-controls="collapseExample">
                   Click To Read
                 </a>
               </p>
               <div class="collapse" id="covid">
                 <div class="card card-body">
                   
                   <p> Please arrive 10-15 minutes prior to your time slot and wait outside until called in and if you 
                     need to cancel your appointment please inform us at least 24 hours before If you are running late you must contact us asap. 
                     
                     <br> </br>
                     If not your appointment will be automatically cancelled. All clients will be required to wash their 
                     hands prior and after the service as well as wear a face mask throughout. 
                   Strictly no extra guests as their will be waiting area (Customer use only).

                   <p><strong>Discount for student 16 & Under.</strong></p>
                   </p>
                 </div>
               </div>
           </div>
       </div>
   </div>
</div>



