 <!-- NAVBAR -->
 <nav id="mainNavbar" class="navbar navbar-light navbar-expand-md py-0 ">
  <a href="#" class="navbar-brand">CRYSTAL NAILS</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a href="/" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
              <a href="/pricing" class="nav-link">PRICING</a>
          </li>
          <li class="nav-item">
            <a href="#booking" class="nav-link">BOOKING</a>
        </li>
      </ul>
  </div>
</nav>