


        <!-- PACKAGES -->
<div class="row align-items-center content ">
    <div class="col-md-6 text-center">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>PACKAGES</h2>
                <!-- <img src="images/pink-nails.jpg" alt="" class="d-none d-lg-inline img-thumbnail d-flex justify-content-end"> -->
                <p>
                  <a id="btn" class="btn btn-primary" data-toggle="collapse" href="#package" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Click To Read
                  </a>
                </p>
                <div class="collapse" id="package">
                  <div class="card card-body">
                    <p> These packs, depending on type of treatment you're receiving, must be purchased before any treatment from <strong> our salon only.</strong>  <br> </br>
                      They are reusable and should be brought along everytime you have an appointment. In the instance that you do not have one, a new pack must be purchased. </p>
                      <br> </br>
                    <p><strong>Fullset :</strong> £3 - include Mask, nail file, Buffer, Sand drill. </p>
                    <p><strong> Hand Service:</strong> £2 includes Mask, Nail File & Buffer.</p>
                    <p><strong>Pedicure :</strong> £5 Includes Mask, Nail File, Buffer, Foot scrub & toe separators.</p>
                    <p><strong>Other Feet Service :</strong> £3 Includes Mask, Nail File, Buffer & toe separators.</p>
                        
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img id="pink-nails" src="images/white-and-red-plastic-clothes-hanger-3997356.jpg" alt="" class="img-fluid img-thumbnail">
    </div>
  </div>