 <!-- POLICY -->

 <div class="row align-items-center content ">
      
      
    <div class="col-md-6 text-center">
      
        <div class="row justify-content-center">
          
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>OUR POLICY</h2>
                
                <p>
                  <a id="btn" class="btn " data-toggle="collapse" href="#policy" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Click To Read
                  </a>
                </p>
                <div class="collapse" id="policy">
                  <div class="card card-body">
                    <p> <u> <strong>REFUNDS</strong></u> </p>
                    <p class="">All purchases and services are final you will <strong>NOT</strong> be refunded, if you are not content, speak with your technician and we will try our best to solve the issue.</p>
                   
                    <p> <u><strong>ISSUE</strong></u> </p>
                    <p>If you are unsatisfied with your nails we will correct it for you, provided that you inform us immediately.</p>
                   
                   
                    <p><u><strong>RIGHTS</strong></u></p>
                    <P>We have the right to refuse serivce, and will not tolerate any disrespect towards any member of staff. If you have any sort of nail condition we have the rights to refuse treatment.</P>
                   
                    <p><u><strong>PRICING</strong></u></p>
                    <p> We reserve the right to alter prices without prior notice.</p>
                    
                    <p><u><strong>Health Conditions</strong></u></p>
                    <p> If you have any issues which could affect your treatment please let us know upon arrival.
                    </p>                      
                  </div>
                  
                </div>               
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img id="pink-nails" src="images/nail-2.jpg" alt="" class="img-fluid img-thumbnail">
        
    </div>
</div>

