
            
  
 


       



     
      
       
       <!-- PINK & WHITE/GLITTER TIPS -->

       <!-- <table class="table table-title">
       <tr>
          <td>Pink &amp; White/Glitter Tips</td>
       </tr>
       </table>
 
       <table class="table table-hover">
       <tbody>
          <tr>
             <td>Fullset/Overlay</td>
             <td>£48 <span class="service-time">(50-60 mins)</span></td>
          </tr>
          <tr>
             <td>Pink &amp; White lnfills</td>
             <td>£38 <span class="service-time">(50-60 mins)</span></td>
          </tr>
          <tr>
             <td>Pink Infills</td>
             <td>£26 <span class="service-time">(30mins)</span></td>
          </tr>
          <tr>
             <td>Soak off &amp; Redo</td>
             <td>Additional £10</td>
          </tr>
       </tbody>
       </table>

      </div> -->

      <!-- <div class="col-md-6"> -->

        <!-- 3D RUSSIAN EXTENSION -->
<!-- 
        <table class="table table-title">
          <tr>
            <td>3D Russian Lashes</td>
          </tr>
        </table>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Fullset Lashes</td>
              <td>£90 <span class="service-time">(60mins)</span></td>
            </tr>
            <tr>
              <td>Refills</td>
              <td>From £55 <span class="service-time">(30mins)</span></td>
            </tr>
            <tr>
              <td>&frac12; Set</td>
              <td>£57 <span class="service-time">(30mins)</span></td>
            </tr>
            <tr>
              <td>&frac34; Set</td>
              <td>£72 <span class="service-time">(40mins)</span></td>
            </tr>
          </tbody>
        </table>

      </div>
      
    </div>
  </div> -->

  <!-- PRICE LIST -->

<div class="container priceList" id="pricing">
  <div class="row priceList-inner">
    
    <div class="col-md-6">

      <!-- NAILS -->

      <table class="table table-title">
        <tr>
          <td>Natural Nails</td>
        </tr>
      </table>

      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Manicure</td>
            <td>£16 <span class="service-time">(20 mins)</span></td>
          </tr>
          <tr>
            <td>Shaped &amp; Revarnished Normal Polish</td>
            <td>£9 <span class="service-time">(10 mins)</span></td>
          </tr>
          <tr>
            <td>Manicure &amp; Gel Polish</td>
            <td>£26 <span class="service-time">(15-20 mins)</span></td>
          </tr>
          <tr>
            <td>Additional Gel Colour Removal</td>
            <td>£5 <span class="service-time"></span></td>
          </tr>
          <tr>
            <td>Gel Removal, Shape (+Normal Polish)</td>
            <td>£10</td>
          </tr>
          <tr>
            <td>Gel Removal & Manicure</td>
            <td>£20</td>
          </tr>
          <tr>
            <td>extra Americian Or White tip</td>
            <td>£4</td>
          </tr>
        </tbody>
      </table>
      
    </div>


    <div class="col-md-6">

      <!-- NAIL DESIGN & OTHER -->

      <table class="table table-title">
        <tr>
          <td>FullSet</td>
        </tr>
      </table>

      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Acrylic</td>
            <td>£28 <span class="service-time">(30-40 mins)</span></td>
          </tr>
          <tr>
            <td>Infill Acrylic</td>
            <td>£19 <span class="service-time">(30-40 mins)</span></td>
          </tr>
          <tr>
            <td>Fullset Permanent White Tips/Acrylic Overlay</td>
            <td>£28<span class="service-time">(28 mins)</span></td>
          </tr>
          <tr>
            <td>Gel Powder</td>
            <td>£33 <span class="service-time">(30-40 mins)</td>
          </tr>
          <tr>
            <td>Gel Powder Infill</td>
            <td>£ XXX <span class="service-time">(30 mins)</td>
          </tr>
          <tr>
            <td>Gel Polish Fullset</td>
            <td>£38<span class="service-time">(30-40 mins)</td>
          </tr>
          <tr>
            <td>Gel Polish Infill</td>
            <td>£28 <span class="service-time">(30 mins)</span></td>
          </tr>
          <tr>
            <td>Soak Off Only</td>
            <td>£13 <span class="service-time">(20 mins)</span></td>
          </tr>
          <tr>
            <td>Single Nails</td>
            <td>from £5</td>
          </tr>
          <tr>
            <td>Extra 3+ Colour </td>
            <td>£5 <span class="service-time">(20 mins)</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>


<div class="container spacer"></div> <!-- SPACER -->


<div class="container priceList">
  <div class="row priceList-inner">

    
    <div class="col-md-6">

      <!-- SPA PEDICURE -->

      <table class="table table-title">
        <tr>
          <td>Spa Pedicure</td>
        </tr>
      </table>

      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Spa Pedicure with normal polish</td>
            <td>£26 <span class="service-time">(40 mins)</span></td>
          </tr>
          <tr>
            <td>Spa Pedicure with gel Polish</td>
            <td>£35 <span class="service-time">(40 mins)</span></td>
          </tr>
          <tr>
            <td>Gel Polish On toes ONLY</td>
            <td>£26 <span class="service-time">(15-20 mins)</span></td>
          </tr>
          <tr>
            <td>Extra Gel polish removal</td>
            <td>£5 <span class="service-time"></span></td>
          </tr>
          <tr>
            <td>Manicure &amp; Pedicure (clear or colour)</td>
            <td>£36 <span class="service-time">(50-60 mins)</span></td>
          </tr>
          <tr>
            <td>Manicure &amp; Pedicure with Shellac on both</td>
            <td>£61 <span class="service-time">(60 mins)</span></td>
          </tr>
          <tr>
            <td>Manicure Gel Polish &amp; Spa Pedicure</td>
            <td>£51 <span class="service-time">(60 mins)</span></td>
          </tr>
          <tr>
            <td>Manicure &amp; Spa Pedicure Gel Polish</td>
            <td>£51 <span class="service-time">(60 mins)</span></td>
          </tr>
        </tbody>
      </table>
      
    </div>


    <div class="col-md-6">

      <!-- SNS Nails (Dripping Powder) -->

      <table class="table table-title">
        <tr>
          <td>SNS Nails (Dipping Powder)</td>
        </tr>
      </table>

      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Fullset SNS</td>
            <td>£40</td>
          </tr>
          <tr>
            <td>Take Off Fullset SNS</td>
            <td>£40 </td>
          </tr>
          <tr>
            <td>Natural Nails</td>
            <td>£38 </td>
          </tr>
          <tr>
            <td>Add Ombre Design</td>
            <td>From £10</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>


<div class="container spacer"></div> <!-- SPACER -->


<div class="container priceList">
  <div class="row priceList-inner">
    
    <div class="col-md-6">



      <!-- OMBRE-->

      <table class="table table-title">
        <tr>
          <td>OMBRE </td>
        </tr>
      </table>

      <table class="table table-hover">
        <tbody>
          <tr>
            <td>FullSet Ombre/Glitter Ombre</td>
            <td> £44<span clss="service-time">-- </span></td>
          </tr>
          <tr>
            <td>Infill Ombre / Glitter</td>
            <td> £33 <span clss="service-time">-- </span></td>
          </tr>
          <tr>
            <td>Infill 1 Colours</td>
            <td>£30 <span class="service-time">--</span></td>
          </tr>
          <tr>
            <td>Fullset 3+ Colours</td>
            <td>£48<span class="service-time">--</span></td>
          </tr>
          <tr>
            <td>Infill 3+ Colours
            </td>
            <td>£45 <span class="service-time">--</span></td>
          </tr>
          <tr>
            <td>-------------</td>
            <td>-------------- <span class="service-time">--</span></td>
          </tr>
          <tr>
            <td>----------------------</td>
            <td>---------------------- <span class="service-time">--------------</span></td>
          </tr>
          <tr>
            <td>---------------------</td>
            <td>---------------------- <span class="service-time">-------------</span></td>
          </tr>
          <tr>
             <td>---------------------</td>
            <td>------------------------ <span class="service-time">-----------</span></td>
          </tr>
          <tr>
            <td>--------------------------</td>
            <td>---------------------</td>
         </tr>
         <tr>
            <td>-----------------------</td>
            <td>----------------------</td>
         </tr>
        </tbody>
      </table>
      
    </div>


    <div class="col-md-6">

      <!-- EXTRA -->

     <table class="table table-title">
        <tr>
           <td>EXTRA</td>
        </tr>
        </table>

        <table class="table table-hover">
        <tbody>
           <tr>
              <td>Clear Tips</td>
              <td>£5 <span class="service-time">--</span></td>
           </tr>
           <tr>
              <td>chrome / flames</td>
              <td>£5 / £5+ <span class="service-time">--</span></td>
           </tr>
           <tr>
              <td>V Tips / Outline / Half </td>
              <td>£5 <span class="service-time">--</span></td>
           </tr>
           <tr>
              <td>Sticker Print</td>
              <td>£5+ <span class="service-time">--</span></td>
           </tr>
           <tr>
              <td>Gold Flakes</td>
              <td>£5+ <span class="service-time">--</span></td>
           </tr>
           <tr>
              <td>Gems</td>
              <td>PLEASE ASK FOR QUOTE <span class="service-time">--</span></td>
           </tr>
           <tr>
              <td>Specific Nail Design</td>
              <td>PLEASE ASK FOR QUOTE <span class="service-time"></span></td>
           </tr>
           <tr>
              <td>Marble </td>
              <td>£3-£5</td>
           </tr>
           <tr>
              <td>Ink Deisgn</td>
              <td>£5</td>
           </tr>
           <tr>
              <td>Extra Long Nails</td>
              <td>Additional £5</td>
           </tr>
        </tbody>
        </table>

      
    </div>
    
  </div>
</div>


<div class="container spacer"></div> <!-- SPACER -->


<div class="container priceList">
  <div class="row priceList-inner">
     
    <div class="col-md-6">
     
     <!-- PINK & WHITE/GLITTER TIPS -->

     <table class="table table-title">
     <tr>
        <td>Pink &amp; White/Glitter Tips</td>
     </tr>
     </table>

     <table class="table table-hover">
     <tbody>
        <tr>
           <td>Fullset/Overlay</td>
           <td>£48 <span class="service-time">(50-60 mins)</span></td>
        </tr>
        <tr>
           <td>Pink &amp; White lnfills</td>
           <td>£38 <span class="service-time">(50-60 mins)</span></td>
        </tr>
        <tr>
           <td>Pink Infills</td>
           <td>£26 <span class="service-time">(30mins)</span></td>
        </tr>
        <tr>
           <td>Soak off &amp; Redo</td>
           <td>Additional £10</td>
        </tr>
     </tbody>
     </table>

    </div>

    <div class="col-md-6">

      <!-- 3D RUSSIAN EXTENSION -->

      <table class="table table-title">
        <tr>
          <td>3D Russian Lashes</td>
        </tr>
      </table>

      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Fullset Lashes</td>
            <td>£90 <span class="service-time">(60mins)</span></td>
          </tr>
          <tr>
            <td>Refills</td>
            <td>From £55 <span class="service-time">(30mins)</span></td>
          </tr>
          <tr>
            <td>&frac12; Set</td>
            <td>£57 <span class="service-time">(30mins)</span></td>
          </tr>
          <tr>
            <td>&frac34; Set</td>
            <td>£72 <span class="service-time">(40mins)</span></td>
          </tr>
        </tbody>
      </table>

    </div>
    
  </div>
</div>