<div class="my-4 my-sm-5 container two-images-two-text">
    <div class="row">
 
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-12 order-lg-2 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <p class="mb-0 pr-lg-4 lead"> <p><strong>Crystal Nail Policies </strong></p>
                        <p> <strong>REFUNDS</strong> </p>
                        <p>All purchases and services are final and we are unable to give you a refund, if you are not completely contented, speak with your technician during your service and we will try our best to solve the issue.<br><br></p>
                       
                        <p> <strong>ISSUE</strong> </p>
                        <p>If you are unsatisfied with your nails we will correct it for you, provided that you tell us immediately. If you are uncertain of anything please mention it with your technician. As soon as you have walked out the Salon door, means that you are happy with the service provided.</p>
                       
                       
                        <p><strong>RIGHTS</strong></p>
                        <P>We have the right to refuse serivce, and will not tolerate any disrespect and rudeness towards Crystal Nails staff.  If you have any sort of nail condition we have the rights to refuse treatment.</P>
                       
                        <p><strong>PRICING</strong></p>
                        <p> We reserve the right to alter prices without prior notice.</p>
                        
                        <p><strong>Health Conditions</strong></p>
                        <p> If you have any health condition, pregnant or injuries which could affect your treatment please let us know upon arrival.
                        </p>
                        
                        
                        
                </div>
 
 
 
                
            </div>

        </div>

        
 
 
 
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 content-no-margin order-lg-2 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <p> <strong> COVID-19 Policy &nbsp;</strong></p>   
                    <p><strong>HEALTH & SAFETY&nbsp;</strong></p>
            </p><p> - All clients are required to wear a face mask.</p>
        <p> <stong>- </stong> You will be asked to wash your hands before and after service.</p>
                <p> <strong>- </strong> Strictly no extra guests or children (We will refuse entry)</p>
                <p> <strong>- </strong> Temporarily <strong> NO REGULAR POLISH service on hands. </strong> If you would like it on your toes, must bring your own sandals.</p>
                <p> <strong>- </strong> There will be no waiting area and <strong>toilets will strictly be for customer use only</strong>. Customers are expected to clean the seat (spray provided) before and after use.</p>
                <p> <strong>- </strong> Please ensure you have no underlying health problems, as we will not be held responsible incase of an incident. </p>
                <p><strong>- Appointments only.</strong> Please arrive 10-15 minutes prior to your time slot and wait outside until called in.</p>
                <p><strong>- </strong> You are required to fill in a consent form and pay before your service. </p>
                <p><strong>-</strong> If you need to cancel your appointment please inform us at least 24 hours before.</p>
                <p><strong>-</strong> If you are running late you must contact us asap. If not your appointment will be automatically cancelled.</p>
                <p><strong>- </strong>We have the right to refuse services. If you show any signs of covid-19 we will have to reschedule to protect the health and saftey of our staff and clients. </p>
                <p> <strong>- PACKAGE:</strong> These packs, depending on type of treatment you're receiving, must be purchased before any treatment from <strong> our salon only.</strong>  They are reusable and should be brought along everytime you have an appointment. In the instance that you do not have one, a new pack must be purchased. </p>
                <p><strong>Fullset :</strong> £3 - include Mask, nail file, Buffer, Sand drill. </p>
                <p><strong> Hand Service:</strong> £2 includes Mask, Nail File & Buffer.</p>
                <p><strong>Pedicure :</strong> £5 Includes Mask, Nail File, Buffer, Foot scrub & toe separators.</p>
                <p><strong>Other Feet Service :</strong> £3 Includes Mask, Nail File, Buffer & toe separators.</p>

                 
                
  
 
                </div>
                <div class="col-12 order-lg-1 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <figure class="d-block my-4 my-sm-5 mt-lg-3 figure">
                        <img class='resize' src="images/product.jpeg" alt="" class="d-block mb-0 figure-img img-fluid breakout">
                    </figure>
                </div>
            </div>
        </div>
 
    </div>
 </div>