<section class="p-0" id="services-gallery">
    <div class="container-fluid p-0">
       <div class="row no-gutters"> 
    
        <div class="col-lg-4 col-sm-6">
            <div class="services-gallery-box">
            <img class="img-fluid" src="images/pink-clouds-1831234.jpg" alt="">
                <div class="services-gallery-box-caption">
                    <div class="services-gallery-box-caption-content">
                        <div class="service-name">
                        Manicure 
                         - Gel Polish
                        </div>
                        <div class="service-description">
                        Nails and cuticles are expertly shaped and then buffed for a clean finish.
                         - Natural Nails are treated to chip-resistanct Gel polish designed to last up to two weeks or more.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-sm-6">
            <div class="services-gallery-box">
                <img class="img-fluid" src="images/pink-clouds-1831234.jpg" alt="">
                <div class="services-gallery-box-caption">
                    <div class="services-gallery-box-caption-content">
                        <div class="service-name">
                        Spa Pedicure      
                        </div>
                        <div class="service-description">
                        Treatment that removes dead skin, softens hard skin and shapes and treats your toenails.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-sm-6">
            <div class="services-gallery-box">
            <img class="img-fluid" src="images/pink-clouds-1831234.jpg" alt="">
            <div class="services-gallery-box-caption">
                <div class="services-gallery-box-caption-content">
                    <div class="service-name">
                  SNS
                    </div>
                    <div class="service-description">
                    dipping 
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="services-gallery-box">
            <img class="img-fluid" src="images/pink-clouds-1831234.jpg" alt="">
            <div class="services-gallery-box-caption">
                <div class="services-gallery-box-caption-content">
                    <div class="service-name">
                    Full Set
                    </div>
                    <div class="service-description">
                    This is a nail enhancment of Acrylic/Gel extensions, this can be applied onto your natrual nails or extended longer with tips.
                    </div>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-sm-6">
            <div class="services-gallery-box">
            <img class="img-fluid" src="images/pink-clouds-1831234.jpg" alt="">
            <div class="services-gallery-box-caption">
                <div class="services-gallery-box-caption-content">
                    <div class="service-name">
                    Infill
                    </div>
                    <div class="service-description">
                        After 2/3 weeks of growth your nails will have a gap which we will adding extra arcylic into the gap. It involves in cutting down, reshaping and repolshied.
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="services-gallery-box">
            <img class="img-fluid" src="images/pink-clouds-1831234.jpg" alt="">
            <div class="services-gallery-box-caption">
                <div class="services-gallery-box-caption-content">
                    <div class="service-name">
                    Nail Art.
                    </div>
                    <div class="service-description">
                    We recommend you come in with a photo of what nail art you would like. We can either do the art you requested or something simulair. If you would like any nail art (how many art on the nails) please mention it in your booking so we can alocate enough time for you. 
                    </div>
                </div>
            </div>
            </div>
        </div>

       </div> <!-- ROW ENDS -->
    </div>
    </section>




       