<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center text-white">
        <div class="col-12 text-center">
          <h3>Welcome to </h3>
          <h1> Crystal Nails</h1>
          
          <p class="lead">Proffesional Nail Care for Ladies & Gentlemen.</p>
        </div>
      </div>
    </div>
  </header>
 