<html lang="en">
    <% include ../views/scripts/head %>
<body>
    <% include ../views/partials/pricingnav %>  

    <% include ../views/partials/welcome %>

    <% include ../views/partials/pricing %>

    <%- include ../views/partials/contact %>

    <%- include ../views/partials/footer %>

    <% include ../views/partials/copyright %>

    <% include ../views/scripts/js %>
</body>
</html>

