<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Professional Nail Care for Ladies &amp; Gentlemen">
   <meta name="keywords" content="Nails, Beauty, Salon, Manicure, Pedicure">
   <meta name="author" content="Crystal Nails">
   <meta name="twitter:title" content="Professional Nail Care for Ladies &amp; Gentlemen">
   <!-- <link rel="icon" type="image/png" sizes="16x16" href="../images/icon.png"> -->
   <title><%= title %></title>
   <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="/vendor/md/mdb.css" rel="stylesheet">
   <link rel='stylesheet' href='/stylesheets/style.css'/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" ></script>
   
</head>