

#jumbo-color {
    background-color: #917C57;
}



@media only screen and (max-width: 768px) {
    // Mobile-specific CSS here
    img#pink-nails {
        display: none;

    }
    
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }
  
    